<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/security
                     http://www.springframework.org/schema/security/spring-security.xsd
                     http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
     <context:component-scan base-package="com.zj.controller"/>

    <security:global-method-security pre-post-annotations="enabled"/>

    <security:http pattern="/login.html" security="none"/>

    <security:http auto-config="true" use-expressions="true">

        <security:intercept-url pattern="/pages/a.html" access="isAuthenticated()"/>
        <security:intercept-url pattern="/index.html" access="isAuthenticated()"/>
        <security:intercept-url pattern="/pages/b.html" access="hasAuthority('add')"/>
        <security:intercept-url pattern="/pages/c.html" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>

        <security:form-login login-processing-url="/user/login.do" password-parameter="password" username-parameter="username"
                             default-target-url="/index.html" authentication-failure-forward-url="/login.html"
                             login-page="/login.html"/>
        <security:logout logout-url="/user/logout.do"  invalidate-session="true" logout-success-url="/index.html"/>
        <security:csrf disabled="true"/>
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
   <bean id="userService" class="com.zj.service.UserService"/>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <context:annotation-config></context:annotation-config>
    <mvc:annotation-driven></mvc:annotation-driven>
</beans>